HRServiceCalls/Service References/LoginService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_PinNoLoginIsAllowed_InputMessage">
    <wsdl:part name="parameters" element="tns:PinNoLoginIsAllowed" />
  </wsdl:message>
  <wsdl:message name="ILoginService_PinNoLoginIsAllowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:PinNoLoginIsAllowedResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_IsHosted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsHosted" />
  </wsdl:message>
  <wsdl:message name="ILoginService_IsHosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsHostedResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetCascadeSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCascadeSession" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetCascadeSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCascadeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ClearCascadeSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCascadeSession" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ClearCascadeSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCascadeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CheckSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSession" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CheckSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSessionResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILoginService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PinNoLoginIsAllowed">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/PinNoLoginIsAllowed" message="tns:ILoginService_PinNoLoginIsAllowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/PinNoLoginIsAllowedResponse" message="tns:ILoginService_PinNoLoginIsAllowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsHosted">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/IsHosted" message="tns:ILoginService_IsHosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/IsHostedResponse" message="tns:ILoginService_IsHosted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCascadeSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetCascadeSession" message="tns:ILoginService_GetCascadeSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetCascadeSessionResponse" message="tns:ILoginService_GetCascadeSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ClearCascadeSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ClearCascadeSession" message="tns:ILoginService_ClearCascadeSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ClearCascadeSessionResponse" message="tns:ILoginService_ClearCascadeSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CheckSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CheckSession" message="tns:ILoginService_CheckSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CheckSessionResponse" message="tns:ILoginService_CheckSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#WSHttpBinding_ILoginService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PinNoLoginIsAllowed">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/PinNoLoginIsAllowed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHosted">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/IsHosted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCascadeSession">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/GetCascadeSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCascadeSession">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/ClearCascadeSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSession">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/CheckSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="WSHttpBinding_ILoginService" binding="tns:WSHttpBinding_ILoginService">
      <soap12:address location="http://localhost/Cascade/dotnet/webservice/secure/LoginService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Cascade/dotnet/webservice/secure/LoginService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>