HRServiceCalls/Service References/LoginService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="PinNoLoginIsAllowed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PinNoLoginIsAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PinNoLoginIsAllowedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHosted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHostedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHostedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCascadeSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobilepin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipaddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCascadeSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetCascadeSessionResult" nillable="true" type="q1:CascadeSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCascadeSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCascadeSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>