HRServiceCalls/Service References/HolidayService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetEmployeeCurrentEntitlementYearHolidays_Debug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q1:guid" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCurrentEntitlementYearHolidays_DebugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCurrentEntitlementYearHolidays">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q2:guid" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCurrentEntitlementYearHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetEmployeeCurrentEntitlementYearHolidaysResult" nillable="true" type="q3:ObjectsPagerOfHolidayN_SsdewcJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetEmployeeBalanceResult" nillable="true" type="q5:HolidayBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeBalanceForRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeBalanceForRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetEmployeeBalanceForRequestResult" nillable="true" type="q8:HolidayBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayDuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q9:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="dayPart" type="q10:AttendanceDayPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayDurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetHolidayDurationResult" nillable="true" type="q11:SingleHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagePermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagePermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetPagePermissionResult" nillable="true" type="q13:PagePermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayClashes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q14:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="dayPart" type="q15:AttendanceDayPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayClashesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetHolidayClashesResult" nillable="true" type="q16:HolidayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsKeyPersonBlocking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q17:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="dayPart" type="q18:AttendanceDayPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsKeyPersonBlockingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="IsKeyPersonBlockingResult" nillable="true" type="q19:GenericBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q20:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="dayPart" type="q21:AttendanceDayPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="CreateHolidayResult" nillable="true" type="q22:OperationOutcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attendanceRuid" type="q24:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="dayPart" type="q25:AttendanceDayPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="UpdateHolidayResult" nillable="true" type="q26:OperationOutcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q27:guid" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attendanceRuid" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="DeleteHolidayResult" nillable="true" type="q29:OperationOutcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q30:guid" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attendanceRuid" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetEmployeeHolidayResult" nillable="true" type="q32:SingleHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamHolidayClashes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q33:guid" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestid" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamHolidayClashesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetTeamHolidayClashesResult" nillable="true" type="q35:HolidayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsToAuthorise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q36:guid" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="requestType" type="q37:RequestType" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsToAuthoriseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetRequestsToAuthoriseResult" nillable="true" type="q38:ObjectsPagerOfHolidayN_SsdewcJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsToAuthorise_debug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q39:guid" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="requestType" type="q40:RequestType" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsToAuthorise_debugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q41:guid" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestid" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetRequestDetailsResult" nillable="true" type="q43:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDetails_Debug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q44:guid" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestid" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDetails_DebugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q46:guid" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestids" nillable="true" type="q47:ArrayOfguid" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="RejectRequestsResult" nillable="true" type="q48:MultiOperationOutcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q49:guid" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestids" nillable="true" type="q50:ArrayOfguid" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="ApproveRequestsResult" nillable="true" type="q51:MultiOperationOutcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>