HRServiceCalls/Service References/SecurityService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISecurityService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityService_GetRoleItemPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleItemPermissions" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetRoleItemPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleItemPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetObjectActionsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectActionsForUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetObjectActionsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectActionsForUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityService">
    <wsdl:operation name="GetRoleItemPermissions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetRoleItemPermissions" message="tns:ISecurityService_GetRoleItemPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetRoleItemPermissionsResponse" message="tns:ISecurityService_GetRoleItemPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectActionsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetObjectActionsForUser" message="tns:ISecurityService_GetObjectActionsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetObjectActionsForUserResponse" message="tns:ISecurityService_GetObjectActionsForUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISecurityService" type="tns:ISecurityService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISecurityService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoleItemPermissions">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetRoleItemPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectActionsForUser">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetObjectActionsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="WSHttpBinding_ISecurityService" binding="tns:WSHttpBinding_ISecurityService">
      <soap12:address location="http://localhost/Cascade/dotnet/webservice/secure/SecurityService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Cascade/dotnet/webservice/secure/SecurityService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>