HRServiceCalls/Service References/SecurityService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" />
  <xs:element name="GetRoleItemPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roleItems" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleItemPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetRoleItemPermissionsResult" nillable="true" type="q3:RoleItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectActionsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cascadeSessionToken" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="employeeId" type="q5:guid" />
        <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectActionsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cascade.HR.BLL.DataContracts" minOccurs="0" name="GetObjectActionsForUserResult" nillable="true" type="q6:ObjectActions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>